.form {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 300px;
  margin-left: 100px;
  align-items: center;
  background: linear-gradient(to bottom, #ffffff 0%, #66ccff 100%);
  padding: 15px 0;
  border: 1px solid black;
  position: relative;
}

.form__title {
  font-size: 22px;
  margin-bottom: 10px;
}

.form__input {
  width: 200px;
  height: 30px;
  margin-bottom: 25px;
  padding: 5px 10px;
  font-size: 20px;
  outline: none;
  border: 1px solid black;
}

.form__input:hover {
  background-color: rgb(235, 254, 255);
}

.form__radio__title {
  display: inline;
}

.form__radio {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  text-align: center;
  padding: 0px 15px;
  margin-bottom: 25px;
}

.form__button {
  width: 170px;
  font-size: 18px;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
  color: rgb(250, 253, 82);
  background-color: rgb(21, 17, 252);
  font-weight: 700;
}

.form__button:active { 
  background-color:  rgb(250, 253, 82);
  color: rgb(42, 39, 219);
}

.form__error {
  position: absolute;
  color: rgb(252, 245, 245);
  background-color:rgb(252, 11, 11);
  top: 32px;
  left: 0px;
  font-weight: 400;
  border: 1px solid black;
  
}

.form__block {
  position: relative;
  text-align: center;
}